.profilBody {
  margin: 2% 5%;
}
.profil-info {
  width: 100%;
  height: 720px;
  border: 1px #c5959547 solid;
  display: flex;
  flex-direction: column;
  background-color: #e9ebee;
  border-radius: 10px;

  padding-top: 2%;
}
.profil-info-title {
  font-size: 50px;
  color: #181D61;
  padding-left: 3%;
}
.profil-info-list {
  list-style: none;
}
.profil-info-cordonne {
  font-size: 25px;
  font-weight: 500;
  color: rgb(105, 104, 104);
  padding-top: 20px;
  display: flex;
  flex-flow: column
}
.profil-info-biography {
  border-top: 2px solid black;
  padding: 3%;
}
.biography {
  font-size: 50px;
  color: grey;
}
.biography-desreption {
  font-size: 25px;
  font-weight: bolder;
}

/* .icon-descprection{
padding-left: 20px;
} */

.profil-gallery-picture{
    width: 100%;
  height: 720px;
  border: 1px #c5959547 solid;
  display: flex;
  flex-direction: column;
  background-color: #e9ebee;
  border-radius: 10px;
  padding-top: 2%;
  margin-top: 5%;
}
.gallery-container{
 height: 88%;
 width: 96%;
 
 margin: 0 2%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
}
.gallery-picture{
height: 32%;
width: 32%;
box-shadow: 2px 3px 3px #888888;
}
.picture-of-gallery{
    height: 100%;
    width: 100%;
}